html {
  font-size: 62.5%;
  background-color:#212529;
  color: white;
}
h1 {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 4rem;
}
h2 {
  font-family: Tahoma, sans-serif;
}
p, li, a {
  font-size: 1.4rem;
}
p, li {
  font-family: Tahoma, sans-serif;
}
.foodImg {
  display: block;
  width: 600px;
  margin: 0 auto 30px;
}
a {
  font-family: 'Times New Roman', sans-serif;
  text-decoration:none;
  color:inherit;
}

.underAndCream:hover, a:hover {
  text-decoration:underline;
  color:#faebd7;
}