html {
  font-size: 62.5%;
  background-color:#212529;
  color: white;
}
h1 {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 4rem;
}
h2 {
  font-family: Tahoma, sans-serif;
}
p, li {
  font-family: Tahoma, sans-serif;
  font-size: 1.4rem;
}
img {
  margin: 1rem auto;
}
a {
  text-decoration:none;
  color:inherit;
}

.underAndCream:hover, a:hover {
  text-decoration:underline;
  color:#faebd7;
}